<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="https://avatars3.githubusercontent.com/u/25190453?s=460&u=167b8be1495f7ebc4cee9dce5124af33c84aa630&v=4"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Darshan Yadav Venkatesh</h3>
      </div>

      <div class="text-center">darshan yadav git hub</div>
      <div class="text-center">
        <a href="https://github.com/darshanvyadav/angular-gettingstarted">https://github.com/darshanvyadav/angular-gettingstarted</a>
      </div>
    </div>
  </div>
</div>